doctype html
html
  head
    title=title
    //公共文件区
    include config.jade
  body 
    //引入通用头部文件
    include header.jade
    .error
       img(src='/images/404.jpg').imgs
    //引入通用尾部文件
    include footer.jade
   
