//通用头部样式
.main
    .head
        a(href='javascript:').choice
          img(src='/images/logo.png')
        ul.top-ul
          li
            a(href='/',data-text='Home').btn.pos.btn-main 
              span 主  页
          li
            a(href='/users',data-text='Technology').btn.pos.btn-Technology
              span 技术宅
          li
            a(href='/books',data-text='Library').btn.pos.btn-Library
               span 书呆子
          li
            a(href='/games',data-text='GameLover').btn.pos.btn-GameLover
               span 游戏控
          li
            a(href='/resource',data-text='Resource').btn.pos.btn-Resource
               span 资源库
          li
            a(href='/login',data-text='Login').btn.pos.btn-Choice
                span 登&nbsp;&nbsp;录

      
