doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/css3.css',media='screen')
        link(rel='stylesheet', href='/stylesheets/index.css')
        //公共文件区
        include config.jade
body
        .mainarea(title='点击进入')
            .welcome
                #robot(title='点击进入')
                    .piston
                       .rotator
                       .block W
                           .arm
                    .piston
                       .rotator
                       .block E
                           .arm
                    .piston
                       .rotator
                       .block L
                           .arm
                    .piston
                       .rotator
                       .block C
                           .arm
                    .piston
                       .rotator
                       .block O
                           .arm
                    .piston
                       .rotator
                       .block M
                           .arm
                    .piston
                       .rotator
                       .block E
                           .arm
    script( type="text/javascript",src="/js/index.js")
