doctype html
html
  head
    title=title
    //公共文件区
    include config.jade
  body  
    //引入通用头部文件
    include header.jade
    .container-fluid
        form(method='post').form-horizontal
            fieldset
                legend 用户登录
                .control-group
                    label(for='username').control-label 用户名
                    .controls
                        input(type='text',name='username')#username.input-xlarge
                .control-group
                    label(for='password').control-label 密&nbsp;&nbsp;码
                    .controls
                        input(type='password',name='password',)#password.input-xlarge
                .form-actions
                    button(type='submit').btn.btn-primary 登录
    block content  
    //引入通用尾部文件
    include footer.jade
