doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
   
  body 
    //引入通用头部文件
    include header.jade
    
    block content

    //引入通用尾部文件

   script( type="text/javascript" ,src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js' )
