doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/users.css')
  body  
    //引入通用头部文件
    include header.jade
    button.btn-main Add Cart

    .list      
        ul.control
          li.games
            img(src='/images/1.jpg')
          li.games
            img(src='/images/2.jpg') 
          li.games
            img(src='/images/3.jpg')   
      
   

