body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body{
	margin:0;
	font-family:  arial,"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
	color: #555;
	background-color: #eee;
	overflow-x:hidden;
	
}
.main{
	position:relative;
	padding: 0;
	margin: 0;
	width: 100%;
	z-index:1000;
}
.head{
	position:relative;
	height:64px;
	background-color: #4a4a4a;
	width: 100%;
	margin: 0 auto;
}
.head:before{
	display: block;
	content: '';
	line-height: 0
}
.head a{
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	display: block;
	font-size:18px;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	line-height: 64px;
	text-decoration: none;
}

ul{list-style: none;}

ul li{float: left}

.top{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    border-radius: 0.3em;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding-left:1em;
    padding-right: 1em;
    margin:auto;
    display:inline-table;
}

.top li a{
	display: block;
	width: 100px;
	color: #717281;
	text-decoration: none;
	text-align:center;
	line-height: 60px;
}
.top li:hover a{ 
	color: #fff;
}
.top li:hover{
	background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
     }
.list li img{width: 500px;height: 250px;}